/* My Custom css */
@import '../node_modules/susy/sass/susy';
@import '../assets/sass/utils/variables';
@import '../assets/sass/utils/mixins';

/****************
 *
 * my app
 *
 */


/* basic set **/
body {
  font-size: 16px;
}

:link,:active,:focus,a:focus,.button:focus,.button.alt:focus,
.button.added_to_cart:focus,.button.wc-forward:focus,button:focus,
input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus {
  outline-color: transparent;
  outline: none;
}

.home {
  #main, .hentry, .content-area {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}
/**/


/** layout */
.fullwidth-homepage-area {

  padding-top: 3em;
  padding-bottom: 3em;

  &--dark {
    color: white;
    background: #3a3a3a;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--orange {
    color: white;
    background: #e8812d;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--green {
    color: white;
    background: #2d9473 url("../assets/images/polygon.png") center center;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--dropfly {
    color: white;
    background-size: cover !important;
    background: #2d9473 url("../assets/images/dropfly.jpg") center center;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--polygon {
    color: white;
    background: #3a3a3a url("../assets/images/polygon.png") center center;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--family {
    color: white;
    background-size: cover !important;
    background: #3a3a3a url("../assets/images/family.jpg") center center no-repeat;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--darkenergy {
    color: white;
    background-size: cover !important;
    background: #3a3a3a url("../assets/images/darkenergy.jpg") center center;

    a,h1,h2,h3,h4,h5,h6 {
      color: white;
    }
  }

  &--light {
    background: #e8e8e8;
  }

  &--white {
    background: white;
  }

}

/* fixed footer */
#colophon.site-footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: auto;
}


/* branding */
.site-branding {
  padding: 6px;
  clear: both;
  margin-bottom: 0;
  height: 50px;

  .site-title {
    margin-top: 6px;
    text-transform: uppercase;
    display: flex;

    a {
      margin-left: 1em;
    }

  }

}


.woocommerce-active.error404 .woof {
  display: none;
}

/* woocommerce related style */
.woocommerce-page {

  .woocommerce-main-image {
    border: 1px solid gainsboro;

    img {
      margin: auto;
      padding: 1em;
    }
  }

  .product_meta .tagged_as a {
    display: inline-block;
    background: #ceb600;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    line-height: 1em;
    margin: 4px 4px 4px 0;
    text-decoration: none !important;
  }

  &.tax-product_tag .berocket_lgv_widget {
    display: none;
  }

  .otazka_produkt {
    position: relative;
    border-top: 1px solid #e0e0e0;
    margin-top: 2em;
    padding-top: 2em;
  }

  #otazka_na_produkt {
    position: absolute;
    top:-80px;
  }

  &.single-product {

    div.product .product_meta {
      margin-top: 1em;
    }

    .eshop_product_link {
      max-width: none;
    }

  }

  &.single-product, &.tax-product_tag {

    .upsells, .related {
      .eshop_product_link,
      .otazka_na_produkt {
        max-width: 50%;
        float: left;
        border-radius: 0;
        font-size: 13px;
      }
    }

  }

  &.tax-product_tag {

    h1.page-title {
      text-transform: uppercase;
    }

    .eshop_product_link,
    .otazka_na_produkt {
      max-width: 50%;
      float: left;
      border-radius: 0;
      font-size: 13px;
    }
  }

  .product.berocket_lgv_list .eshop_product_link,
  .product.berocket_lgv_list .otazka_na_produkt,
  .product.berocket_lgv_list h3,
  .product.berocket_lgv_grid .berocket_lgv_additional_data {
    display: none;
  }

  .berocket_lgv_after_additional {
    clear: both;
    margin: 56px 0 56px 0 !important;
    border-bottom: 1px solid #d4d4d4;

    :last-child {
      border-bottom: 0;
    }

  }

  .berocket_lgv_additional_data h3 {
    clear: none;
  }

  .berocket_lgv_additional_data .eshop_product_link.prod_link_fullwidth.btn {
    margin-left: 4px;
  }

  .product.berocket_lgv_list {
    margin-right: 3.8% !important;
  }

  .berocket_lgv_widget {
    float: none !important;
    text-align: center;
    margin: auto;
    width: 115px;
    background: #eeeeee;
    margin-top: -48px;
    margin-bottom: 1em;

    a.berocket_lgv_button {
      font-size: 26px;
      background: #b1b1b1;
      color: white;
      margin: 0 0 10px 0;
      padding: 0 10px;
      display: inline-block;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

  }

  &.tax-product_cat {

    #main .page-title {
      display: none;
    }

    .berocket_lgv_widget .berocket_lgv_button.selected {
      background: #00769e;
    }

  }

  .site-content > .col-full {
    padding-top: 3em;
  }

  .woocommerce-breadcrumb, .woocommerce-result-count,
  .woof_shortcode_output .hydra-sorting,
  .br_lgv_product_count_block {
    display: none !important;
  }

  &.term-klimatizacie .product_cat-tepelne-cerpadla, &.term-klimatizacie .product_cat-tepelne-cerpadla + .berocket_lgv_additional_data,
  &.term-klimatizacie .product_cat-tepelne-cerpadla + .berocket_lgv_additional_data + .berocket_lgv_after_additional,
  &.term-tepelne-cerpadla .product_cat-klimatizacie, &.term-tepelne-cerpadla .product_cat-klimatizacie + .berocket_lgv_additional_data,
  &.term-tepelne-cerpadla .product_cat-klimatizacie + .berocket_lgv_additional_data + .berocket_lgv_after_additional {
    display: none !important;
  }

  main#main > .hydra-sorting {
    margin-bottom: 0 !important;
  }

  /*
  .product:hover .ajax_add_to_cart {
    opacity: 1;
    transition: 0.3s all;
  }

  .product .ajax_add_to_cart {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -24px;
    transition: 0.3s all;
  }
  */

  ul.products li.product .woocommerce-LoopProduct-link {
    border: 1px solid #d6d6d6;

    h3 {
      height: 5em;
      overflow: hidden;
      background: #e6e6e6;
      margin: 0;
      padding: 10px;
      line-height: 140%;
    }

  }

  .woof_list_label .woof_label_term {
    border: none;
    border-radius: 4px;

    &:hover, &.checked {
      background-color: #00769e;
      border: none;
      border-radius: 4px;
    }

  }

  .woof_sid_produkty {
    background: url(../assets/images/bg_produkty.jpg) center center !important;
    background-size: cover !important;
    padding: 3em;

    &:before {
      text-align: center;
      display: block;
      color: white;
      font-size: 38px;
      font-weight: 300;
      margin-bottom: 1em;
    }

    h4 {
      color: white;
    }
  }

  &.term-tepelne-cerpadla .woof_sid_produkty:before {
    content: 'Vyberte si najvhodnejšie tepelné čerpadlo';
  }

  &.term-klimatizacie .woof_sid_produkty:before {
    content: 'Vyberte si najvhodnejšiu klimatizáciu';
  }

  .woof_list_label li {
    position: relative;

    .woof_label_count {
      right: 0;
    }

  }

  .woof_sid_produkty .woof_container {
    float: left;
    width: 33%;
    min-width: 150px;
    text-align: center;
  }

  .woof_sid_produkty .woof_redraw_zone {
    max-width: 80em;
    margin: auto;
  }

  .eshop_product_link, .otazka_na_produkt {
    margin-bottom: 2em;
    width: 100%;
    max-width: 220px;
    font-size: 15px;
    text-decoration: none !important;
    text-align: center;
    border-radius: 0;
  }

  .berocket_lgv_grid {
    .eshop_product_link, .otazka_na_produkt {
      max-width: none;
    }
  }

  .product_meta span.posted_in {
    display: none;
  }

  .product.berocket_lgv_grid .eshop_product_link,
  .product.berocket_lgv_grid .otazka_na_produkt {
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;

    &.prod_link_fullwidth {
      width: 100%;
    }

  }

  .berocket_lgv_additional_data .eshop_product_link,
  .berocket_lgv_additional_data .otazka_na_produkt {
    text-align: center !important;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }

  &.single-product .eshop_product_link,
  &.single-product .otazka_na_produkt {
    text-align: center !important;
    display: inline-block;
    color: white;
    border-radius: 4px;
  }

  &.single-product .otazka_na_produkt a {
    color: white;
    text-decoration: none !important;
  }

  .product_meta > * {
    display: block;
  }

}




/* customizing */

.no-bottom-padding {
  padding-bottom: 0 !important;;
}

.no-top-padding {
  padding-top: 0 !important;;
}

.owl-carousel .owl-item p {
  margin: 0;
}

.ssba img {
  border-radius: 6px;
}

.caldera-grid form {
  width: 100%;
}

.hydra-handheld-footer-bar {
  display: none;
}

.post .hentry {
    .wp-post-image {
      width: 100%;
    }
}

.post-type-archive-event .site-main > .hentry > .entry-header {
  display: none;
}

.category-sticky {
  position: relative;
  display: inline-block;
  border: none;

  &:after {
    content: 'TOP' !important;
    background: #cb2027;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 100;
    padding: 0.5em 0.8em;
    color: white;
  }
  header.entry-header {
    padding-right: 70px;
  }
}

.searchwp-live-search-results {
  max-height: 450px !important;
}


/* youtube wrapper */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom:1em;
  margin-top:1em;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* fullwidth search form **/

.secondary-navigation {

  .iconsearch, .iconfacebook {
    a {
      cursor: pointer;
      padding: 0 6px !important;
      i.dashicons {
        font-size: 2em;
        margin: 0 !important;
      }
      span {
        display: none;
      }
    }
  }
}


#site-search.site-search {

  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  padding: 6em 2em;

  .search-form label {
    width: 80%;
    float: left;
  }

  .search-field {
    width: 100%;
  }

  .search-submit {
    width: 20%;
    padding-left: 0;
    padding-right: 0;
  }

  #close-search:hover {
    color: white;
  }

  #close-search {
    font-size: 350%;
    position: absolute;
    right: 36px;
    top: 0;
    cursor: pointer;
    color: #96588a;
  }

}


/* minicart widget */
#masthead .site-header-cart .widget_shopping_cart {
  min-width: 300px;
  right: 0;
}



/* related posts */
.related-posts {

  width: 100%;
  display: inline-block;
  margin-top: 2em;

  .gallery {
    margin-left: -15px;
    margin-right: -15px;

    .gallery-item {
      padding: 15px;

      /*
      a {
        max-height: 153px;
        overflow: hidden;
      }
       */

      .gallery-caption {
        //height: 4.5em;
      }

      &:nth-of-type(4n) {
        clear: both;
      }

    }

  }

}


/* foo gallery */
.foogallery-container.foogallery-default {
  margin-left: -15px;
  margin-right: -15px;
}

.foogallery-container.foogallery-default .fbx-link {
  width: 20%;
  padding: 12px;
}


/* posts */
aside.entry-meta .posted-on a {
  display: block;
}
.hide_title .entry-header .entry-title, .hide_title .site-main .page-title {
  display: none;
}


/* recent posts on homepage*/
.recent_post_home {

  &--centered {
    text-align: center;
  }
  &__main-title {
    margin-bottom: 1.618em;
  }
  &__wrapper {

  }
  &__item {
    margin: 0 auto;
    padding-bottom: 2em;
  }
  &__thumbnail {
    margin-bottom: 1em;

    &:hover img {
      transform: scale(1.025);
      transition: 0.3s all;
    }
    img {
      box-shadow: 0 3px 27px rgba(0, 0, 0, 0.66);
      transition: 0.3s all;
      margin: auto;
    }
  }
  &__content {
    //color: #a2a2a2;
  }
  &__title {
    font-size: 1.4em;
  }

}


/* simple 3 featured products on homepage */
.featured_products_home {

  &--centered {
    text-align: center;
  }
  &__main-title {
    margin-bottom: 1.618em;
  }
  &__wrapper {
  }
  &__item {
    margin: 0 auto;
    padding-bottom: 2em;
  }
  &__thumbnail {
    margin-bottom: 1em;
    &:hover img {
      transform: scale(1.025);
      transition: 0.3s all;
    }
    img {
      margin: auto;
      max-width: 220px;
      transition: 0.3s all;
    }
  }
  &__content{
    color: grey;
  }
  &__title {
    font-size: 1.4em;
    color: $color_links;
  }

}


/* content block on homepage */
.home-content-block {

  padding:3em 0;

  &__item {
    text-align:center;
    transition: 0.2s all;
    padding:1em;
    margin: auto;

    img {
      margin:auto;
      margin-bottom:1em;
    }

  }

  &__midtxt1 {
    font-size: 1.4em;
    transition: 0.2s all;
  }

  &__midtxt1, &__midtxt2 {
    margin-bottom: 10px;
  }

}


/* content block on homepage */
.home-text-block {

  &__item {
    text-align:center;
    transition: 0.2s all;
    padding:1em;
    margin: auto;

    img {
      margin:auto;
      margin-bottom:1em;
    }

  }

  &__title {
    margin-bottom:1em;
  }

  &__content {
    color: #a2a2a2;
    margin-bottom: 10px;
  }

  &__link {
    margin-bottom: 10px;
  }

}



/* footer menu */
footer .menu-item a i._mi {
  display: none;
}


/* back top button */
#back-top {
  position: fixed; bottom: 13px; right: -50px; z-index: 100; transition: 0.5s all;

  a {
    width: 40px; display: block; font-size: 11px; color: #c8c8c8; transition: 0.3s all;

    &:hover {
      color: rgb(0,0,0);
      transition: 0.3s all;
    }
  }

  span {
    width: 40px;
    height: 40px;
    display: block;
    background: #b4b4b4;
    background: rgba(255,255,255,0.55);
    transition: 0.3s all;
    text-align: center;
    border-radius: 25px;

    &:hover {
      background: rgb(255,255,255)
    }

  }
}



/* popular posts */
.widget.popular-posts .wpp-list li {
  padding-bottom: 1em;

  a {
    display: inline-block;
  }
}


/* events */
.eo_widget_calendar #wp-calendar td.event {
  background: #358088;
  a {
    color: white;
  }
}



/* ACF Google Maps */
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}


/* jquery responsivity check helper */
/* do not change this! */
.sampleclass {
  max-width: 6px;
}
/* do not change this! */








/* X LARGE DESKTOP MQ */
@include susy-media($large-desktop) {

  .foogallery-container.foogallery-default .fbx-link {
    width: 20%;
  }

  .primary-navigation {
    text-align: center;
  }

  .tax-product_cat, .post-type-archive-product, .single-product, .tax-product_tag,
  .hydra-full-width-content.tax-product_cat, .hydra-full-width-content.tax-product_tag, .hydra-full-width-content.post-type-archive-product, .hydra-full-width-content.single-product {

    &.columns-4 {
      ul.products {
        li.product {
          width: 22.05%;
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 3.8%;
        }
        li.product:nth-of-type(4n+4) {
          margin-right: 0;
        }
      }
    }

    &.columns-5 {
      ul.products {
        li.product {
          width: 17.8%;
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 2.75%;
        }
        li.product:nth-of-type(5n+5) {
          margin-right: 0;
        }
      }
    }

  }

  /* jquery responsivity check helper */
  /* do not change this! */
  .sampleclass {
    max-width: 5px;
  }
  /* do not change this! */

}



/* LARGE DESKTOP MQ */
@include susy-media(max-width $large-desktop) {

  .primary-navigation {
    text-align: center;
  }

  .tax-product_cat, .post-type-archive-product, .single-product, .tax-product_tag,
  .hydra-full-width-content.tax-product_cat, .hydra-full-width-content.tax-product_tag, .hydra-full-width-content.post-type-archive-product, .hydra-full-width-content.single-product {

    &.columns-4 {
      ul.products {
        li.product {
          @include span(3 of 9);
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 5.8%;
        }
        li.product:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }

    &.columns-5 {
      ul.products {
        li.product {
          width: 22.05%;
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 3.8%;
        }
        li.product:nth-of-type(4n+4) {
          margin-right: 0;
        }
      }
    }
  }

  .woocommerce-page.woocommerce-active {

    .woof_sid_produkty {
      padding: 1.41em;
    }

    .woof_sid_produkty .woof_container {
      float: none;
      width: 100%;
    }

    .woof_sid_produkty .woof_container {
      text-align: center;
    }

  }

  .main-navigation ul.menu .menu-item i._mi, .site-header-cart .cart-contents .count {
    display: none;
  }

  .woocommerce-active {
    .site-header {

      .main-navigation {
        @include span(10.3 of 12);
        clear: both;
      }

      .site-header-cart {
        @include span(last 1.7 of 12);
        margin-bottom: 0;
      }
    }
  }

  .main-navigation ul.menu > .menu-item > a {
    padding: 1em 0.5em;
  }

  /* jquery responsivity check helper */
  /* do not change this! */
  .sampleclass {
    max-width: 4px;
  }
  /* do not change this! */

}



/* DESKTOP MQ */
@include susy-media (max-width $desktop) {

  .foogallery-container.foogallery-default .fbx-link {
    width: 25%;
  }

  .main-navigation ul.menu > .menu-item > a {
    text-align: center;
  }

  .site-branding {
    height: auto;
    width: 100%;
    margin: 0;
  }

  header#masthead .logo {
    width: 100%;
  }

  header#masthead .logo a {
    float: none;
  }

  header#masthead .logo a img {
    margin: auto;
  }

  header#masthead .hydra-primary-navigation .menu-toggle, header#masthead .site-title, header#masthead .logo {
    margin: auto;
    margin-bottom: 1em;
    display: block;
    float: none;
    text-align: center;
  }

  .tax-product_cat, .post-type-archive-product, .single-product, .tax-product_tag,
  .hydra-full-width-content.tax-product_cat, .hydra-full-width-content.tax-product_tag, .hydra-full-width-content.post-type-archive-product, .hydra-full-width-content.single-product {

    &.columns-4 {
      ul.products {
        li.product {
          @include span(4.5 of 9);
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 5.8%;
        }
        li.product:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }

    &.columns-5 {
      ul.products {
        li.product {
          @include span(3 of 9);
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 5.8%;
        }
        li.product:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }

  .woocommerce-active {

    .site-header {
      .main-navigation {
        @include span(12 of 12);
        clear: both;
      }
    }

    ul.products li.product.berocket_lgv_list {
      width: 100% !important;
    }

    .product .woocommerce-LoopProduct-link h3 {
          font-size: 0.85em;
    }

  }

  article.post.hentry .entry-meta {
    display: none;
  }

  /* fullwidth search form */
  #site-search.site-search {

    position: fixed;

  }

  /* jquery responsivity check helper */
  /* do not change this! */
  .sampleclass {
    max-width: 3px;
  }
  /* do not change this! */

}



/* HANDHELD MQ */
@include susy-media (max-width $handheld) {

  .foogallery-container.foogallery-default .fbx-link {
    width: 50%;
  }

  .tax-product_cat, .post-type-archive-product, .single-product, .tax-product_tag,
  .hydra-full-width-content.tax-product_cat, .hydra-full-width-content.tax-product_tag, .hydra-full-width-content.post-type-archive-product, .hydra-full-width-content.single-product {
    &.columns-5 {
      ul.products {
        li.product {
          @include span(4.5 of 9);
        }
      }
      ul.products {
        li.product:nth-of-type(1n) {
          margin-right: 5.8%;
        }
        li.product:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .tax-product_cat {
    &.columns-4 {
      ul.products {
        li.product.berocket_lgv_grid {
          width: 100%;
          .woocommerce-loop-product__title {
            height: auto;
          }
        }
      }
    }
  }

  .related-posts .gallery .gallery-item {
    width: 100%;
    max-width: 100%;
  }

  /* jquery responsivity check helper */
  /* do not change this! */
  .sampleclass {
    max-width: 2px;
  }
  /* do not change this! */

}



/* SMALL HANDHELD MQ */
@include susy-media (max-width $small-hand) {

  .foogallery-container.foogallery-default .fbx-link {
    width: 100%;
  }

  .tax-product_cat, .post-type-archive-product, .single-product, .tax-product_tag,
  .hydra-full-width-content.tax-product_cat, .hydra-full-width-content.tax-product_tag, .hydra-full-width-content.post-type-archive-product, .hydra-full-width-content.single-product {
    &.columns-5, &.columns-4 {
      ul.products {
        li.product {
          width: 100%;
        }
      }
    }
  }

  /* jquery responsivity check helper */
  /* do not change this! */
  .sampleclass {
    max-width: 1px;
  }
  /* do not change this! */


}

